/* head */
main{
    display: flex;
    justify-content: center;
}
.half-width{
    width: 243px;
    padding-left: 5%;
    padding-top: 5%;
}
/* Frist product */
.flex-display{
    display: flex;
}
.button{
    text-decoration: none;
    width: 196px;
    height: 44px;
    background-color: #e02c6e;
    color: white;
    border-radius: 41px;
    padding: 10px 24px 10px 24px;
    font-weight: 700;
}
.Frist-right img{
    width: 100%;
}