/* head */
body{
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
}
.half-width{
    width: 243px;
    padding-left: 5%;
    padding-top: 5%;
}
/* Frist product */
.flex-display{
    display: flex;
}
.button{
    text-decoration: none;
    width: 196px;
    height: 44px;
    background-color: #e02c6e;
    color: white;
    border-radius: 41px;
    padding: 10px 24px 10px 24px;
    font-weight: 700;
}
.Frist-right img{
    width: 100%;
    padding-left: 10%;
}
.flex-display:hover .camera{
    transform: rotate(360deg);
    transition: transform 3s ease-in-out;
}
/* Popular Collection */
.products{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 30px;
}
.product{
    width: 329px;
    height: 476px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
    border-radius: 5px;
    padding-left: 1em;
}
.product .thumbil img{
    width: 300px;
    height: 256px;
    margin-top: 17px;
    margin-left: 5px;
}
.left-bar{
    color: #E02C6D;
    text-align: end;
    font-weight: 700;
}
.fa-star{
color: #FB8200;
}
/*----------------- Ending--------- */

footer{
    background-color: #0a0826;
    color: white;
    text-align: center;   
}
footer fa-youtube{
    color: white;
    
}
/*-------------- mobile ------------- */
@media only screen and (max-width:688px) {
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
    .flex-display{
        display: block;
    }
    .half-width{
        text-align: center;
    }
    .product{
        margin-left: 4%;
    }
}
/*     -------   Tab --------------*/
@media only screen and (min-width: 688px) and (max-width:992px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    .half-width{
        text-align: center;
    }
    .product{
        margin-left: 4%;
    }
    
}